{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}    
    </br></br></br>
    <div class="row-content">
        <h1 style="text-align:center">THANK YOU FOR VISITING COFFEE AND DESSERT</h1>
        </br>
        <h4>1. About Coffee</h4>
        <span>We Believe That Coffee Is More Than Just A Drink: It’s A Culture, An Economy, An Art, A Science — And A Passion. Whether You're New To The Brew Or An Espresso Expert, Whether You Prefer It With Or Without Caffeine, There's Always More To Learn About America's Favorite Beverage.</span>
        <h4>2. About Our Coffee</h4>
        <span>We specialise in pure arabica coffees which are both organic and Fairtrade. We supply retail and wholesale. We are a small, but highly effective team – knowledgeable and passionate about coffee and 100% committed to provide the best quality at a very fair price.  We are not Amazon, nor are we eBay – we admire them for what they do, but that is not where we want to be – whether you come into our shop or buy from Australia we want to provide you with a personal service – get to know what you want and deliver it exactly so..</span>
        <h4>3. About Our Dessert</h4>
        <span>My shop includes many confections such as  biscuits, cakes, cookies, custards, gelatins, ice creams, pastries, pies, puddings, macaroons, sweet soups, tarts, and fruit salad that come from many contries. with the variety of desserts in my shop, we can choose and enjoy each type of each country</span>
        <h4>4. Where to buy our coffee - Private person </h4>
        <span>Webshop: Ordering can be done from the page labelled Coffee and Dessert
        </br>
         At our café, Cooffee and Dessert at Bac
        </span>
        <h4>5. Delivery </h4>
        <span> With Delivery Service, people can order at the Coffee and Dessert Shop without going out, so we can experience coffee and dessert that come from other contries at home, it is safe for us in the pandemic of Covid-19
            the activies of my shop as follows: 
              Our roasting facility operates Monday-Friday (excluding select holidays).
              </br>All coffee orders are freshly roasted-to-order, meaning we roast and ship out on the same day.
              </br>If your order is submitted before 4:00 p.m. ET, it will be roasted and shipped the next business day.
              </br>If your order is submitted after 4:00 p.m. ET, it will be roasted and shipped two business days later.</span>
        <h4>6. Our Purpose</h4>
        <span>our purpose of our is bring good experience and good taste</span>
    </div>
{% endblock body %}
