{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}    
    </br></br></br>
    <div class="row-content">
        <h1 style="text-align:center">THANK YOU FOR FOR USING OUR SERVICE</h1>
        </br>
        <h4>1. About Toys</h4>
        <span>We carry practically all sorts of toys on the market, such as remote control vehicles, models, bearbrick, and many more. All of the items we sell have been thoroughly tested, so buyers can be confident in their purchase.</span>
        <h4>2. About Our Toys</h4>
        <span>When you visit our toy store, you will find toys ranging from the ordinary to the uncommon and valuable. We are dedicated to offering the best and highest quality items on the market at a fair price. Our business will undoubtedly satisfy you with the high quality of the things we provide.</span>
        <h4>3. About Our Service</h4>
        <span>Concerning our service, we assure our consumers that all of our items are authentic and have through stringent quality check. 1 to 1 exchange within 7 days if there is a manufacturing fault, and 6 months warranty on all items. Customers who make a purchase will receive a 20% discount ticket for their next purchase (voucher will be valid within 1 month).</span>
        <h4>4. Where to buy our Toys - Private person </h4>
        <span>Webshop: Ordering can be done from the page labelled Toy_World
        </br>
         At our shop, Toy_World
        </span>
        <h4>5. Delivery </h4>
        <span> People may order via the web rather than going straight to the store, allowing them to enjoy shopping without having to worry about going out; it is also safe for consumers during the Covid-19 epidemic. 
            My store's operations are as follows: 
            Our store is open seven days a week (except some holidays).
        <h4>6. Our Purpose</h4>
        <span>Our goal is to deliver the greatest purchasing experience and product quality available on the market.</span>
    </div>
{% endblock body %}
