{% extends 'baseadmin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1> New Category</h1>
    <a href="{{ path('app_category_index') }}"><span class="material-icons">arrow_back</span></a>
    </br>
    {{ include('category/_form.html.twig') }}

    
{% endblock %}
