{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style = "padding:120px; margin-right: 240px">
    <h1 style="text-align:center; margin-left:120px">Create new Customer</h1>

    {{ include('customer/_form.html.twig') }}

</div>
{% endblock %}
