{% extends 'baseadmin.html.twig' %}

{% block title %}Edit Supplier{% endblock %}

{% block body %}
    <h1>Edit Supplier</h1>
    <a href="{{ path('app_supplier_index') }}"><span class="material-icons">arrow_back</span></a>
    {{ include('supplier/_form.html.twig', {'button_label': ''}) }}
    </br>
    {{ include('supplier/_delete_form.html.twig') }}
{% endblock %}

