{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
</br></br></br>
    <div class="row-content">
        <h1 style="text-align:center">FAQ</h1>
        </br>
        <h4>1. How to register Account?</h4>
        <span> Click into login and you will see register button, just click into it you will move to register page</span>
        <h4>2. How to order item?</h4>
        <span> Click into "view details" item you want to order and choice quatity you want to order and press add to cart </span>
    </div>
{% endblock %}
